body {
    background-color: #18181b;
    color: #ebebeb;
}

#title {
    padding: 75px;
    height: 250px;
    background-color: #222228;
    background-image: url("./img/eso0932a.jpg");
    background-position-y: -200px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 100px;
    height: 350px;
}

#about-me {
    min-width: 150px;
    max-width: 400px;
}

#pfp {
    border-radius: 5%;
}

#projects {
    padding: 50px;
    gap: 50px;
    background-color: #1d1d21;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

#list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

#contact {
    margin-top: 50px;
    margin-top: 50px;
}